.wrapper {
    display: flex;
}

.carouselWrapper {
    width: 60%;
    padding: 0 0 0 100px;
}

.carouselDesc {
    max-width: 40%;
    padding: 1rem;
}

.carouselDesc h3:first-child {
    margin-bottom: 1rem;
}