.navWrapper {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 16px;
  position: Fixed;
  top: 0;
  width: 100%;
  /* border: 1px solid blue; */
  z-index: 1;
}

.talk {
  margin-left: auto;
}

.linksTag {
  color: rgba(255, 255, 255, .7);
  font-size: 0.875rem;
  margin-right: 1.25rem;
  font-weight: 300;
}

.linksTag:hover {
  color: #fff;
}

.smaller {
  height: 30px;
  background: rgba(10, 10, 10, 0.4);
  /* TODO: optimise the css transition */
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1); 
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}
